.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    height: auto;
    text-align: center;
}

.price{
    color: gray;
    font-size: 22px;
}

button{
    width: 100%;
    border: none;
    padding: 12px;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #c9c4c4;
    border-radius: 8px;
}

button:hover{
    opacity: 0.8;
}

h3{
    text-align: center;
}