.container-L {
    width: 100vw;
    height: 1270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-Limit {
    width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.limit {
    width: 350px;
    color: #292d37;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.p-limit {
    color: #2b2e369a;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
    width: 950px;
}

.limit-box {
    width: 417px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.l-download {
    width: 200px;
    height: 54px;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease;
    background-color: #907dfa;
    border: 3px solid #907dfa;
    margin-left: 100px;
}


.l-download:hover {
    background-color: #745cf9;
    border: 3px solid #745cf9;
}

.Limit-img {
    width: 1270px;
    height: 1000px;
    margin-right: 40px;
}