.cd-popup{
    width: 700px;
}

.cd-popup-container{
    background-color: burlywood;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

